* {
    padding:  0;
    margin:  0;
}

header {
    border-bottom: 1px solid black;
}

.section {
    width: 100%;
    border-radius: 5px;
}

.bloque {
    border: 1px solid black;
}

article {
    display: inline-block;
    width: 47%;
}

img{
    width: 100%;
}