* {
    padding:  0;
    margin:  0;
}

header {
    border-bottom: 1px solid black;
    padding-top: 20px;
    padding-bottom: 20px;
}


.section {
    width: 100%;
    border-radius: 5px;
}

.bloque {
    border: 1px solid black;
}

article {
    display: inline-block;
    width: 46%;
}

img{
    width: 100%;
}

#map {
    height: 400px;
    width: 100%;
   }
   
section{
    margin-top: 50px;
}

.art_map{
    padding-left: 2%;
}

.art_chat{
    padding-left: 2%;
}